/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-cover-image: url("../images/cover-image-dark.png");
  --bg-cover-color: #000;
  --for-focus: #FF0070;
  --rec-display: flex;
  --accent-color: #FF0070;
  --color-text: #FF0070;
  --color-no-focus: #DB00FF;
  --bg-head-description: #FF0070;
  --color-article-p: #F1B2CE;
  --for-focus: #FF0070;
  --border-color-menu-button-rgba: 255, 0, 112, 0.4; /* RGBA-значения для прозрачности */
  --border-bottom-text-shadow: #F1B2CE;
  --text-shadow-focus: #F1B2CE;
}

/* TODO: понять что тут писать */