/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-cover-image: url("../images/cover-image-light.png");
  --bg-cover-color: #FFC0CB;
  --rec-display: none;
  --color-text: #353430;
  --accent-color: #ff8dcb;
  --color-no-focus: #ffc2e6;
  --bg-head-description: #ff8dcb;
  --color-article-p: #353430;
  --for-focus: #353430;
  --border-color-menu-button-rgba: 53, 52, 48, 0.4;
  --border-bottom-text-shadow: #353430;
  --text-shadow-focus: #353430;
  --text-color-head-description: #353430; /* Добавить */
  --border-bottom-theme-menu-item: #353430; /* Добавить */
  --corners-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --bg-cover-image: url("../images/cover-image-light.png");
    --bg-cover-color: #fff;
    --rec-display: none;
    --color-text: #353430;
    --accent-color: #ff8dcb;
    --color-no-focus: #ffc2e6;
    --bg-head-description: #ff8dcb;
    --color-article-p: #353430;
    --for-focus: #353430;
    --border-color-menu-button-rgba: 53, 52, 48, 0.4;
    --border-bottom-text-shadow: #353430;
    --text-shadow-focus: #353430;
    --text-color-head-description: #353430; /* Добавить */
    --border-bottom-theme-menu-item: #353430; /* Добавить */
    --corners-color: #353430;
  }
}
