/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-cover-image: url("../images/cover-image-light.png");
  --rec-display: none;

  /* TODO: без понятия где это прописывается займись этим позже 
  .header__decorative-rec {
    display: var(--rec-display, none);
  } */
}