/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* page */

.page {
  display: grid;
  grid-template-columns: 1fr;
  /* justify-content: center;
  align-items: center; */
  /* grid-template-columns: 2fr 1fr; */
  /* grid-auto-rows: minmax(228px, auto) 1fr; */
  background: var(--bg-cover-image, url("../images/cover-image-dark.png")) center / cover no-repeat;
  background-color: var(--bg-cover-color, #000);
  background-attachment: fixed;
  inline-size: 375px;
  block-size: 100%;
  padding-inline: var(--padding, 10px) var(--padding, 10px);
  padding-block-start: var(--padding, 10px);  /* слева start: 20px, справа end: 40px */
  margin-inline: auto;
  color: #FF0070;
  font-size: 18px;
  font-family: var(--font-family, 'IBM Plex Mono'), Arial, sans-serif;


  
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* header */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: 2fr 1fr; */
  /* grid-column: 1 / 3; */
  background: #daa208;
  block-size: 100vh;
  min-block-size: 668px;
  /* padding-inline: var(--padding, 10px) var(--padding, 10px);  /* слева start: 20px, справа end: 40px */
  /* padding-block: var(--padding, 10px) var(--padding-footer, 11px);   вверх start: 10px, низ end: 30px */ 
  margin-block-end: var(--margin, 10px);
  position: relative; /* точка отсчёта для абсолютных элементов */
  z-index: 1;
}

.header__theme-menu {
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 70px;
  block-size: 98px;
}

.header__theme-menu-item {

}

.header__theme-menu-item:last-child {
  border: 1px solid #FF0070;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  padding-inline: var(--paddding-header-font-button-left-right, 13px);
  padding-block: var(--paddding-header-font-button-start-end, 1.5px);
}


.header__decorative-rec {
  display: var(--rec-display, inline-block); /* управление видимостью */
  position: absolute; /* позиционируем в углу */
   grid-column: 2;
  justify-self: end; /* прижать вправо */
  align-self: start; /* прижать вверх */
  inline-size: 52px;
  max-block-size: 26px;
  /* justify-content: space-between; */
  text-decoration: underline; /* TODO: перемолоть на переменные */
  z-index: 10;
}

.header__decorative-rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: #FF0070;
  box-shadow: 0 0 0 2px #ff4757;
  /* Дополнительно рекомендуемые свойства */
  top: 0;
  left: 0;
}

/* no-focus */

.header__no-focus {
  
  grid-column: 1 / 3;
  font-size: 116px;
  color: var(--color-no-focus, #DB00FF);
  text-shadow: 4px 4px 0 var(--text-shadow-no-focus, #FF0070);
}

/* header__head-description */

.header__head-description {
  /* background: var(--bg-head-description,#FF0070);
  color: var(--text-color-head-description, #000028); */
  grid-column: 1 / 3;
  /* grid-row: min-content; */
}


/* article-blocks */

.headings-blocks  {
  background: var(--bg-head-description,#FF0070);
  color: var(--text-color-head-description, #000028);
}




