/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* page */

.page {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--bg-cover-image, url("../images/cover-image-dark.png")) center / cover no-repeat;
  background-color: var(--bg-cover-color, #000);
  background-attachment: fixed; /* чтобы зафиксировать фон на месте при прокрутке */
  inline-size: 375px;
  block-size: 100%;
  padding-inline: var(--padding, 10px) var(--padding, 10px);
  padding-block-start: var(--padding, 10px);  /* слева start: 20px, справа end: 40px */
  margin-inline: auto;
  color: #FF0070;
  font-size: 18px;
  font-family: var(--font-family, 'IBM Plex Mono'), Arial, sans-serif;


  
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

/* header */

.header {
  display: grid;
  position: relative;
  grid-auto-rows: minmax(228px, 1fr) min-content minmax(228px, 1fr);
  /* grid-column: 1 / 3; */
  background: #daa208;
  block-size: 100vh;
  min-block-size: 668px;
  /* padding-inline: var(--padding, 10px) var(--padding, 10px);  /* слева start: 20px, справа end: 40px */
  /* padding-block: var(--padding, 10px) var(--padding-footer, 11px);   вверх start: 10px, низ end: 30px */ 
  margin-block-end: var(--margin, 10px);
  position: relative;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  left: var(--left-decorative-corner, 93%);
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: var(--top-decorative-corner, 96.3%);
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}

.header__theme-menu {
  grid-column: 2;
  max-block-size: 98px;
  inline-size: 70px;
  background: #21cf6d;
  justify-self: self-end;
  align-self: end;
}

.header__decorative-rec {
  display: var(--rec-display, flex); /* управление видимостью */
  position: absolute;
  left: var(--left-rec, 84%);
  top: var(--top-rec, 0.5%);
  z-index: 1;
  inline-size: 57px;
  max-block-size: 26px;
  background: #8f2b2b;
  text-transform: uppercase; /* TODO: перемолоть на переменные */
  
}

.header__decorative-rec::after {
  content: "";
  display: block;
  margin-inline-start: 10px;
  inline-size: 9px;
  block-size: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(255, 0, 112, 0.5);
  margin-inline-start: 10px;
  margin-block-start: 6px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

.header__theme-menu-item {

}

.header__theme-menu-item:last-child {
  border: 1px solid #FF0070;
}

.header__theme-menu-button {
  inline-size: 100%;
  border: none;
  background: transparent;
  padding-inline: var(--paddding-header-font-button-left-right, 13px);
  padding-block: var(--paddding-header-font-button-start-end, 1.5px);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-bottom-theme-menu-item, #FF0070);
}



/* .header__theme-menu-button:last-child:focus-visible {
  border: none;
} */

.header__theme-menu-hover {
  border: 1px solid transparent;
}

.header__theme-menu-item:hover {
  border-color: rgba(var(--border-color-menu-button-rgba));
}

/* .header__theme-menu-item:focus {
  outline: none;
} */

/* .header__theme-menu-item:focus-visible {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
} */

/* no-focus */

.header__no-focus {
  
  grid-column: 1 / 3;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-no-focus, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

/* header__head-description */

.header__head-description {
  grid-column: 1 / 3;
  align-self: self-start;
}

/* section */

.section {
  display: grid;
  margin-block-end: 50px;
}

.section:last-child {
  margin-block-end: 40px;
}

/* no-concentration */

.no-concentration {
  background: #1c26db;
  
}

.no-concentration .article-block:last-child {
  margin-block-end: 0;
}

.no-concentration__title {
  word-spacing: 10px;
}

.little-concentration {
  background: #09b4ed;
}

.how-concentrate {
  background: #148cae;
}

.how-concentrate .article-block:last-child {
  margin-block-end: 0;
}

.little-concentration .article-block:last-child {
  margin-block-end: 0;
}

.article-subtitle-title {
  font-weight: normal;
}

/* can-in-pictures */

.can-in-pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
}

.can-in-pictures__item {
  inline-size: 100%;      /* Занимает всю ширину контейнера */
  block-size: 100%;   /* Занимает всю высоту контейнера */
  object-fit: cover; /* Аналогично background-size: cover */
  object-position: center; /* Аналогично background-position: center */
  display: block;   /* Убирает лишние пробелы под изображением */
}

.img-sunset {
  inline-size: 355px;
  block-size: 142px;
}

.img-ice-cream {
  inline-size: 355px;
  block-size: 355px;
}

.img-tape {
  inline-size: 355px;
  block-size: 327px;
}

.img-books {
  inline-size: 355px;
  block-size: 355px;
}

.img-street {
  inline-size: 355px;
  block-size: 327px;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding-block-end: 11px;

  background: #271b42;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-no-focus, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}


/* universal-blocks */

.text-shadow {
  text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
}

.text-shadow:hover {
  border-bottom: 1px solid var(--border-bottom-text-shadow, #F1B2CE);
}

.article-block {
  margin-block-end: 20px;
}

.article-block p {
  color: var(--color-article-p,#F1B2CE);
}

.article-title {
  margin-block-end: 20px;
}

.title-decor  {
  background: var(--bg-head-description,#FF0070);
  color: var(--text-color-head-description, #000028);
  margin-block-end: 10px;
}

