/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* TODO: сделай в комментариях какая переменная относится к какому блоку через комментарии */

/* mobile first */

:root {
  --bg-cover-image: url("../images/cover-image-dark.png");
  --bg-cover-color: #000028;
  --justify-content: center;
  --align-items: center;
  --color-text: #ff0070;
  --rec-display: flex;
  --main-font: "IBM Plex mono";
  --font-size: 18px;
  --font-size-accent: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-regular: normal;
  --font-bold: bold;
  --color-no-focus: #db00ff;
  --accent-color: #ff0070;
  --bg-head-description: #ff0070;
  --text-color-head-description: #000028;
  --border-bottom-text-shadow: #f1b2ce;
  --color-article-p: #f1b2ce;
  --border-color-menu-button-rgba: 255, 0, 112, 0.4; /* RGBA-значения */
  --border-bottom-theme-menu-item: #ff0070;
  --for-focus: #ff0070;
  --text-shadow-focus: #f1b2ce;
}
