/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* TODO: сделай в комментариях какая переменная относится к какому блоку через комментарии */

/* mobile first */

:root {
  --bg-cover-image: url("../images/cover-image-dark.png");
  --bg-cover-color: #000;
  --padding-footer: 11px;
  --justify-content: center;
  --align-items: center;
  --rec-display: flex;
  --main-font: 'IBM Plex mono';
  --font-size: 18px;
  --font-regular: normal;
  --font-bold: bold;
  --color-no-focus: #DB00FF;
  --accent-color: #FF0070;
  --bg-head-description: #FF0070;
  --text-color-head-description: #000028;
  --border-bottom-text-shadow: #F1B2CE;
  --color-article-p: #F1B2CE;
  --border-color-menu-button-rgba: 255, 0, 112, 0.4; /* RGBA-значения */
  --border-bottom-theme-menu-item: #FF0070;
}