/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* TODO: сделай в комментариях какая переменная относится к какому блоку через комментарии */

/* mobile first */

:root {
  --bg-cover-image: url("../images/cover-image-dark.png");
  --bg-cover-color: #000;
  --padding: 10px;
  --padding-footer: 11px;
  --margin: 10px;
  --justify-content: center;
  --align-items: center;
  --rec-display: flex;
  --left-rec: 82%;
  --top-rec: 0.5%;
  --left-decorative-corner: 93%;
  --top-decorative-corner: 96.3%;
  --font-family: 'IBM Plex Mono';
  --font-regular: normal;
  --font-bold: bold;
  --color-no-focus: #DB00FF;
  --accent-color: #FF0070;
  --paddding-header-font-button-start-end: 1.5px;
  --paddding-header-font-button-left-right: 13px;
  --bg-head-description: #FF0070;
  --text-color-head-description: #000028;
  --border-bottom-text-shadow: #F1B2CE;
  --color-article-p: #F1B2CE;
  --border-color-menu-button-rgba: 255, 0, 112, 0.4; /* RGBA-значения */
  --border-bottom-theme-menu-item: #FF0070;
}